<div class="page-header">
  <h1>Find Busses</h1>
</div>
<div class="alert alert-danger alert-dismissible fade in notice-alert" style="<%= 'display:none' unless @notice.present? %> "role="alert"><button type="button" class="close" onclick="$(this).closest('.alert').hide()"><span aria-hidden="true">×</span></button> 
  <span id="alert-message">
    <%= @notice %>
  </span>
</div>
<form action="book" method="post">
  
<div class="row">
<div class="col-md-5">
  <label for="exampleInputEmail1">Origin</label>

  <select class="form-control" name="location1" required>
  <option value="" disabled selected="selected" >Select Origin</option>
  <% $LOCATION.each do |l| %>
    <option value="<%= l %>"> <%= l %></option>
  <% end %>
  </select>
</div>
<div class="col-md-5">
  <label for="exampleInputEmail1">Destination</label>
  <select class="form-control" value="" name="location2" required>
  <option value="" disabled selected="selected">Select Destination</option>
  <% $LOCATION.each do |l| %>
    <option value="<%= l %>"> <%= l %></option>
  <% end %>
    </select>
</div>
</div>
<br>
<button type="submit" class="btn btn-primary">Search</button>
</form>
  <% if @rate.present? %>
  <br>
  <h4>Result</h4>
  <div class="row">
  <div class="col-md-3">
  <label for="exampleInputEmail1">Origin</label><br>
  <%= @rate.location1 %>
</div>
  <div class="col-md-3">
  <label for="exampleInputEmail1">Destination</label><br>
  <%= @rate.location2 %>
</div>
  <div class="col-md-3">
    <label for="exampleInputEmail1">Price</label><br>
    <%= @rate.price %>
  </div>
  <div class="col-md-3">
  <a href="book/<%= @rate.id %>"><button class="btn  btn-success">Book</button></a>
  </div>
</div>
  <% end %>

  <% if @booked %>

<script type="text/javascript">
alert("book lented")
</script>

  <% end %>
