<%- model_class = User -%>
<div class="col-md-4 col-md-offset-4">
    <div class="panel panel-default">
        <div class="panel-body">
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize %></h1>
</div>
<%= render :partial => 'form' %>
</div>
</div>
</div>
