<%= form_for @rate, :html => { :class => "form-horizontal rate" } do |f| %>

  <% if @rate.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@rate.errors.count, "error") %> prohibited this rate from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @rate.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :location1, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :location1, :class => 'form-control' %>
    </div>
    <%=f.error_span(:location1) %>
  </div>
  <div class="form-group">
    <%= f.label :location2, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :location2, :class => 'form-control' %>
    </div>
    <%=f.error_span(:location2) %>
  </div>
  <div class="form-group">
    <%= f.label :price, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :price, :class => 'form-control' %>
    </div>
    <%=f.error_span(:price) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                rates_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
