<%- model_class = Rate -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:location1) %></th>
      <th><%= model_class.human_attribute_name(:location2) %></th>
      <th><%= model_class.human_attribute_name(:price) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @rates.each do |rate| %>
      <tr>
        <td><%= link_to rate.id, rate_path(rate) %></td>
        <td><%= rate.location1 %></td>
        <td><%= rate.location2 %></td>
        <td><%= rate.price %></td>
        <td><%=l rate.created_at %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      rate_path(rate), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_rate_path(rate), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      rate_path(rate),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_rate_path,
            :class => 'btn btn-primary' %>
