<%- model_class = Rate -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:location1) %>:</strong></dt>
  <dd><%= @rate.location1 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:location2) %>:</strong></dt>
  <dd><%= @rate.location2 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:price) %>:</strong></dt>
  <dd><%= @rate.price %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              rates_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_rate_path(@rate), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              rate_path(@rate),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
